.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    max-width: 100%;
    border: 1.5px dashed #257F2F;
    border-radius: 0px;
    margin-bottom: 1rem;
}

.file-drop-area:focus {
    background-color: rgba(255, 255, 255, 0.05);
}
  
.fake-btn {
    flex-shrink: 0;
    background-color: #257f2f;
    border-radius: 0px;
    padding: 8px 15px;
    margin: 4px 10px 4px 5px;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 1px rgba(34, 48, 15, 0.4);
  }
  
.file-msg {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
#studentRecordsFile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
} 

#studentRecordsFile:focus {
    outline: none;
}