@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    height: 100%;
    font-family: 'Open Sans', normal;
}

img {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-help {
    font-weight: bolder;
    font-size: 25px;
}

.title-style {
    color: #257F2F;
    font-size: 60px;
    text-align: left;
}

button {
    width: 100px;
}

.bg-green {
    background: #257F2F;
}

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
