.container-title {
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 0.5rem;
    /* padding-bottom: 0.5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid gray;

    margin-bottom: 1.2rem;
}

.container label {
    text-align: left;
    font-size: 0.75rem;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #257F2F;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.input:focus {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #257F2F;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.col {
    column-count: 2;
    text-align: left;
}

DatePicker {
    border: none;
}
.date-picker {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.date-picker,
.react-datepicker__today-button {
    border: 1px solid black;
    border-radius: 0px;
    background-color: transparent;
    font-size: 0.95rem;
}

#jobNature {
    min-height: 100px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    max-width: 100%;
    border: 1.5px dashed #257F2F;
    border-radius: 0px;
    margin-bottom: 1rem;
}

.file-drop-area:focus {
    background-color: rgba(255, 255, 255, 0.05);
}
  
.fake-btn {
    flex-shrink: 0;
    background-color: #257f2f;
    border-radius: 0px;
    padding: 8px 15px;
    margin: 4px 10px 4px 5px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 2px 2px rgba(34, 48, 15, 0.4);
  }
  
.file-msg {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
#feedbackForm, #appointmentLetter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
} 

#feedbackForm:focus, #appointmentLetter:focus {
    outline: none;
}


.form-submit {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #257F2F;
    border-style: none;
    border-radius: 0.1rem;
    color: white;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgba(34, 48, 15, 0.4);
    font-size: 0.9rem;
}

.form-submit:active {
    background-color: gray;
}

.form-submit:hover {
    box-shadow: 0px 15px 20px rgba(34, 48, 15, 0.4);
    /* color: #fff; */
    transform: translateY(-1px);
}
