.container-title {
    text-align: left;
    padding-left: 1.1rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 0.5rem;
    /* padding-bottom: 0.5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid gray;

    margin-bottom: 1.2rem;
}

.container label {
    text-align: left;
    font-size: 0.75rem;
}

.info-icon {
    margin-left: 0.2rem;
}

.supervisor-info {
    margin-left: 0.2rem;
    font-size: 0.8rem;
    color: red;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #257F2F;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.input:focus {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #257F2F;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.col {
    column-count: 2;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .col {
        column-count: 1;
        text-align: left;
    }
}

DatePicker {
    border: none;
}
.date-picker {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.date-picker,
.react-datepicker__today-button {
    border: 1px solid black;
    border-radius: 0px;
    background-color: transparent;
    font-size: 0.95rem;
}

#jobNature {
    min-height: 100px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    max-width: 100%;
    border: 1.5px dashed #257F2F;
    border-radius: 0px;
    margin-bottom: 1rem;
}

.file-drop-area:focus {
    background-color: rgba(255, 255, 255, 0.05);
}
  
.fake-btn {
    flex-shrink: 0;
    background-color: #257f2f;
    border-radius: 0px;
    padding: 8px 15px;
    margin: 4px 10px 4px 5px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 2px 2px rgba(34, 48, 15, 0.4);
  }
  
.file-msg {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
#feedbackForm, #appointmentLetter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
} 

#feedbackForm:focus, #appointmentLetter:focus {
    outline: none;
}


.form-submit {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #257F2F;
    border-style: none;
    border-radius: 0.1rem;
    color: white;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgba(34, 48, 15, 0.4);
    font-size: 0.9rem;
}

.form-submit:active {
    background-color: gray;
}

.form-submit:hover {
    box-shadow: 0px 15px 20px rgba(34, 48, 15, 0.4);
    /* color: #fff; */
    transform: translateY(-1px);
}

.remark-container {
    
}

.remark-container {
    padding: 10px;
    min-height: 90px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
  
.remark-container::-webkit-scrollbar {
    width: 0.3rem;
}
  
.remark-container::-webkit-scrollbar-track {
    background: lightgray;
    ;
}
  
.remark-container::-webkit-scrollbar-thumb {
    background: #257F2F;
}


.message {
    display: flex;
    align-items: center;
  }


.new-remark {
    padding-bottom: 0.5rem;
    height: 2.2rem;
    width: 100%;
    display: flex;
    font-size: 0.85rem;
}

.new-remark button {
    width: 20%;
    background-color: #257F2F;
    border-radius: 0px 20px 20px 0px;
    border: none;
    color: white;
    box-shadow: lightgray   ;
  }

  .sent {
    flex-direction: row-reverse;
  }
  
.sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 2px 10px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 0.9rem;
}
  
.received p {
    background: #e5e5ea;
    color: black;
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 0.85rem;
}



  
.new-remark input {
    width: 100%;
    font-size: 0.85rem;
    background: lightgray;
    color: black;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 20px 0px 0px 20px;
}

  
  button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}
  